{% extends '::default/layout.html.twig' %}

{% block title %}Quiz Time!{% endblock %}

{% block cards %}class="active"{% endblock %}

{% block content %}

    {% include "AoshidostudyBundle::flashmessages.html.twig" %}


    <div class="container">
        <table class="table">
            <tr>
                {% for pregunta in preguntas %}
                    <td class="col-md-1">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="panel front card_back">
                                    <div class="card_back_text">
                                        {{ pregunta.contenido }}
                                    </div>
                                </div>
                                {% if ((loop.index % 4) == 0) %}
                                    <div class="panel back card_front card_club ">
                                    {% endif %}

                                    {% if ((loop.index % 4) == 1) %}
                                        <div class="panel back card_front card_diam ">
                                        {% endif %}

                                        {% if ((loop.index % 4) == 2) %}
                                            <div class="panel back card_front card_heart ">
                                            {% endif %}

                                            {% if ((loop.index % 4) == 3) %}
                                                <div class="panel back card_front card_spade ">
                                                {% endif %}
                                                <p>
                                                    {% if (pregunta.vof) %}
                                                        Verdadero
                                                    {% else %}
                                                        Falso
                                                    {% endif %}
                                                </p>
                                                <div class="card_answer">
                                                    <p>{{ pregunta.respuesta }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                        
                                    </td>
                                    {% if ((loop.index % 4) == 0) %}
                                        </tr>
                                        <tr>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </table>
                            </div>

                        {% endblock %}