<table>
    <tr>
        <td>
            <a href="{{ path('aoshidostudy_index') }}">
                This Page
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('preguntas_ABM') }}">
                Preguntas ABM
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('preguntas_QUIZ') }}">
                Quiz !
            </a>
        </td>
    </tr>
</table>